* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  /* Background color */
  --bg-primary-color: #0a0909;
  --bg-fill-color: rgb(197, 235, 184);
  --bg-food-color: rgb(122, 224, 88);
  --bg-modal-color: rgba(37, 26, 26, 0.504);
  /* Text color */
  --text-primary-color: rgb(198, 192, 192);

  /* Spacing variables */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Border color */
  --border-primary-color: rgb(84, 78, 78);

  /* Border Radius */
  --Border-radious-xs: 4px;
  --Border-radious-sm: 8px;
  --Border-radious-md: 16px;
  --Border-radious-lg: 24px;
  --Border-radious-xl: 32px;
  --Border-radious-2xl: 40px;
  --Border-radious-3xl: 48px;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font: system-ui, sans-serif;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main,
section {
  height: 100%;
  width: 100%;
}
.btn {
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--Border-radious-sm);
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover {
  transform: scale(1.1);
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}
section .infos {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.info {
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--Border-radious-sm);
}
.board {
  background: rgb(31, 31, 44);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
}
.block {
  border: rgb(74, 76, 82) 1px solid;
}

.fill {
  background: var(--bg-fill-color);
}

.food {
  background: var(--bg-food-color);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background: var(--bg-modal-color);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .start-game, .modal .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.modal .game-over{
    display: none;
}
